$avatar-width: 70px;

.comment-comment {
  display: flex;

  &__left {
    width: $avatar-width;
    margin-right: gap(3);
  }

  &__right {
    width: calc(100% - #{$avatar-width} - #{gap(3)});
  }

  &__letter-avatar {
    height: $avatar-width;
    text-align: center;
    line-height: $avatar-width;
    font-weight: bold;
    font-size: 22px;
    border-radius: $avatar-width;
    overflow: hidden;
    position: relative;
    z-index: 0;

    &::before {
      @include gradient-y(rgba(white, 0.1), rgba(black, 0.1));
      content: '';
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__letter-avatar-letter {
    position: relative;
    z-index: 10;
  }

  &__header {
    display: flex;
    margin-bottom: gap();
  }

  &__header-right {
    margin-left: auto;
  }

  .links {
    @include list-unstyled;
    display: flex;
  }
}