// =============================================================================
// Specific cosmetic elements of UI.
// =============================================================================

// Settings.
@import "../settings/core";

// Tools.
@import "../tools/core";

// Blocks.
@import "block/block-main";
@import "block/block-system-branding-block";
@import "block/block-footer";

// UI elements.
@import "ui/material-design-icons";
@import "ui/breadcrumbs";
@import "ui/button";
@import "ui/comments";
@import "ui/contextual-link";
@import "ui/form";
@import "ui/local-actions";
@import "ui/menu";
@import "ui/message";
@import "ui/pager";
@import "ui/table";
@import "ui/tabs";
@import "ui/text";
@import "ui/ui-dialog";
@import "ui/views-mini-pager";

// Form.

// Node.
@import "node/blog-article/node-blog-article-full";
@import "node/blog-article/node-blog-article-teaser";
@import "node/page/node-page-full";

// Paragraphs.
@import "paragraph/paragraph-styles";
@import "paragraph/image-and-text/paragraph-image-and-text";
@import "paragraph/gallery/paragraph-gallery";
@import "paragraph/code/paragraph-code";
@import "paragraph/remote-video/paragraph-remote-video";
@import "paragraph/remote-video-gallery/paragraph-remote-video-gallery";

// Media.
@import "media/remote-video/media-remote-video";

// Snippet.
@import "snippet/header-main";
@import "snippet/footer-main";
@import "snippet/social-links";

// Taxonomy term.

// Theme (hook_theme).
@import "theme/dlog-hero";

// Views.

// Layout.
@import "layout/main-layout";