.dlog-hero {
  position: relative;
  z-index: 0;
  margin-top: -42px;
  height: 600px;
  overflow: hidden;

  &__content {
    @include media-container();
    position: relative;
    z-index: 10;
    top: 200px;
  }

  &__title {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 48px;
    font-weight: bold;
  }

  &__subtitle {
    color: white;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    max-width: 600px;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //@include gradient-y-three-colors(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15), 10%, rgba(0, 0, 0, 0.1))
    @include gradient-y(rgba(0, 21, 16, 0.4), rgba(0, 191, 143, 0.2))
  }
}
