.dlog-blog-random-posts {
  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: gap(3);
    position: relative;
    text-transform: uppercase;

    span {
      background: white;
      position: relative;
      z-index: 10;
    }

    &::before {
      content: '';
      height: 2px;
      width: 100%;
      background-color: gray(300);
      position: absolute;
      z-index: 5;
      left: 0;
      right: 0;
      top: calc(50% - 1px);
    }
  }

  &__items {
    lost-flex-container: row;
  }

  @include media-breakpoint-up(lg) {
    &__item {
      lost-waffle: 3/12 4;
    }
  }

  @include media-breakpoint-up(md) {
    &__title span {
      padding: 0 gap(2);
    }
  }

  @include media-breakpoint-down(md) {
    &__item {
      lost-waffle: 6/12 2;
    }
  }
}
