{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  {% include '@blogger/include/header.html.twig' %}

  <main{{ main_layout_attributes.addClass(bem_block ~ '__content') }}>
    <div class="main-layout__inner">
      {{ page.content }}
      {{ page.sidebar_first }}
    </div>
  </main>

  {% include '@blogger/include/footer.html.twig' %}
</div>
