.footer {
  background: gray(50);
  padding: gap(5) 0;

  &__content {
    @include media-container();
  }

  .block-footer,
  .footer-social {
    margin-bottom: gap(4);
  }

  &__copyright {
    text-transform: uppercase;
    text-align: center;
    color: gray(700);
    font-size: 14px;
    margin-bottom: gap(2);
  }

  &__top {
    @include mdi-icon('menu-up', before, 0);
    display: table;
    margin: 0 auto;
    font-size: 13px;
    color: gray(500);

    &::before {
      font-size: 24px;
      position: relative;
      top: 4px;
    }
  }
}
