.paragraph-image-and-text {
  &__image-and-text {
    lost-flex-container: row;
  }

  &__field-title {
    flex: 0 0 100%;
    width: 100%;
  }

  &--image-position-right & {
    &__image-and-text {
      flex-flow: row-reverse;
    }

    &__field-image {
      margin-left: lost-vars('gutter') !important;
      margin-right: 0 !important;
    }
  }

  &--image-size-4-12 & {
    &__field-image {
      lost-column: 4/12;
    }

    &__field-body {
      lost-column: 8/12;
    }
  }

  &--image-size-6-12 & {
    &__field-image {
      lost-column: 6/12;
    }

    &__field-body {
      lost-column: 6/12;
    }
  }

  &--image-size-8-12 & {
    &__field-image {
      lost-column: 8/12;
    }

    &__field-body {
      lost-column: 4/12;
    }
  }
}
