$font-family: 'Roboto', sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;

$theme-colors: (
  primary: #3F5EFB,
  secondary: #FC466B,
);

$colors: (
  heart: #FC466B,
  drupal: #28A9E0,
  gitlab: #FCA326,
)